@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
body,
* {
    margin: 0;
    padding: 0%;
}
body {
    overflow-x: hidden;
}
:root {
    --font1: "Roboto", sans-serif;
    --font2: "Roboto Slab", serif;
}
.header {
    width: 90%;
    margin: auto;
}
.photo1 {
    margin-top: 17px;
}
.global {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 97px;
}
.course1,
.clock,
.date {
    display: flex;
}
.global p {
    margin-left: 10px;
    font-family: var(--font1);
    font-size: 20px;
    color: #000000;
}
.movie {
    display: flex;
    justify-content: space-between;
}

.big-text {
    font-family: var(--font2);
    font-weight: bold;
    font-size: 80px;
    line-height: 81px;
    color: #000000;
    width: 628px;
}

.movie-text p {
    font-family: var(--font1);
    font-size: 20px;
    color: #000000;
    width: 414px;
    line-height: 30px;
    margin-top: 15px;
}

.movie-text {
    margin-top: 30px;
}

.movie img {
    margin-right: 150px;
}

.blue-area {
    border-radius: 10px;
    margin: auto;
    padding: 19px 26px;
    background-color: #1e4681;
    color: white;
    width: 483px;
    margin-top: 87px;
}

.blue-area-text {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 25px;
    color: #ffffff;
    line-height: 32.5px;
}

.blue-area-name {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    text-align: right;
    line-height: 26p;
}

.header h2 {
    font-family: var(--font2);
    font-weight: 700;
    font-size: 55px;
    color: #000000;
    margin-top: 100px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-text {
    margin-top: 20px;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    width: 663px;
}

.main-img {
    margin-right: 80px;
}


.camera-and-course {
    width: 90%;
    margin: 100px auto 100px auto;
    display: flex;
    align-items: center;
}

.format,
.learn {
    width: 90%;
    margin: auto;
}
.learn ul{
    margin-left: 30px;
}

.tasks {
    margin-top: 50px;
}


.courses {
    width: 620px;
    display: flex;
    font-family: 'Roboto';
    justify-content: space-between;
}
.camera-2{
    width: 200px;
    margin-right: 50px;
}
.course-1 .text,
.course-2 .text,
.course-3 .text {
    width: 170px;
}

h1 {
    font-size: 60px;
    margin-top: 100px;
    font-weight: bold;
    font-family: 'Roboto Slab';
}

.tasks {
    width: 80%;
    display: flex;
    justify-content: space-between;
}


.title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Roboto Slab';
}

.tasks .title {
    color: #1E4681;
}

.text {
    font-size: 20px;
    font-family: 'Roboto';
}

.text-1 {
    width: 255px;
}

.text-2 {
    width: 290px;
}

.text-3 {
    width: 260px;
}

.learn {
    margin-bottom: 100px;
}

ul {
    margin-top: 50px;
    width: 65%;
}

ul li {
    font-size: 25px;
    font-family: 'Roboto';
}

.section-3 h1 {
    font-size: 55px;
    margin-left: 83px;
    line-height: 55.76px;
    margin-top: 121px;
    height: 130px;
    font-family: 'Roboto Slab';
    font-weight: 700;
}

.section-3 .boxes {
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
}

.section-3 .boxes .box-1 {
    box-shadow: 0 0 10px;
    border-radius: 27px;
    width: 350px;
    height: 320px;

}

.section-3 .boxes .box-1 img {
    width: 350px;

}

.section-3 .boxes .box-1 h4 {
    font-size: 30px;
    line-height: 39px;
    /* padding-left: 10px; */
    margin-top: 18px;
    font-weight: bold;
    font-family: 'Roboto';
    margin-left: 5px;
}

.section-3 .boxes .box-1 p {
    font-size: 25px;
    line-height: 25.5px;
    padding-left: 13px;
    margin-top: 16px;
    height: 90px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
  
}

.section-3 .boxes .box-1 .last {
    margin-top: -20px;
    margin-left: -4px;
   
}
.section-3 .boxes .last-box {
    box-shadow: none;
}

.kurs {
    width: 100%;
    margin-top: 60px;
    background: #EFEFEF;
    padding: 50px 0px;
}

.kurs .container {
    width: 90%;
    margin: 0 auto;
}

.kurs .boxes {
    margin-top: 20px;
    background-color: white;
    width: 60%;
    border-radius: 30px;
    box-shadow: 1px 1px 20px 0px #00000040;
    padding: 2% 4%;

}

.kurs h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    margin: 30px 0px !important;
    font-weight: 700;
    letter-spacing: 0em;
}

.kurs .box p {
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
}

.kurs .author {
    width: 90%;
    display: flex;
    align-items: center;
    
}
.authortext img{
    background-color: #1e4681!important;
    border-radius: 3px;
}
.kurs .author h4 {
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    
}
.kurs .authortext{
    margin-left: 20px;
}
.kurs .authortext img{
    margin-top: 15px;
}

.footer1 {
    background-color: #9DC9C8;
    width: 100%;
}

.fotter12 {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 90%;
    margin: auto;
}

.nacalokursa {
    font-family: var(--robotoSlab);
    font-weight: 700;
    color: #000000;
    margin-bottom: 23px;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: 0em;


}

.stoimost {
    font-family: var(--roboto);
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}

.rubl {
    font-family: var(--roboto);
    font-size: 50px;
    font-weight: 400;
    line-height: 81px;

}

.footer1dflexcontainer {
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#footer1dflex {
    margin-bottom: 5px;
    width: 40%;
}

.fotter1dflextitle {
    font-family: var(--roboto);
    font-weight: 400;
    line-height: 101.38%;
    color: #000000;
    margin-top: 10px;
    font-size: 25px;
    line-height: 25px;
}

.fotter1dflextext {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #000000;
    margin-top: 10px;
}

.footer2 {
    background-color: #000000;
    width: 100%;
}

.footer22 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 40px;
}

.iconfotter2 {
    width: 110px;
}


.contact-box {
    margin-right: 15%;
}

.footer2socialicons {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    width: 157px;
}

.footer2socialicons img {
    margin-left: 5px;
    margin-right: 5px;
    width: 25px;
}

.callmesscontainer {
    display: flex;
    margin-bottom: 10px;
}

.callmesscontainer img {
    width: 25px;
}

.callmesstext {
    color: white;
    margin-left: 15px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 20px;
    line-height: 101.38%;
    color: #FFFFFF;
}

.copy {
    width: 90%;
    margin: auto;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
    color: #FFFFFF;
    margin-top: 50px;
    padding-bottom: 50px;
}
@media only screen and (min-width:1600px){
    .proqramma .boxes .box {
        margin-bottom: 25px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 1px 1px 15px 0px #00000040;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1000px){
    .kurs {
        width: 100%;
        margin-top: 20px;
    }
    .kurs .boxes {
        margin-left: -13px !important;
        padding-top: 10px;
        width: 400px !important;
        margin-bottom: 20px;
    }
    .kurs h1 {
        font-size: 30px !important;
        line-height: 23px
    }
    .kurs .box p {
        width: 100%;
        font-size: 14px !important;
        line-height: 15px;
    }
    .kurs .img1 {
        width: 35%;
        height: 35%;
    }
    .kurs .author {
        width: 80%;
        display: flex;
        align-items: center;
    }
    .kurs .author h4 {
        font-size: 10px;
        line-height: 15px;
    }
    .kurs .authortext img {
        width: 15px;
        height: 15px;
    }
}
@media only screen and (min-width: 500px) and (max-width:991px){
    .movie img {
        margin-left: 50% !important;
        width: 140px !important;
    }
}